In [ ]:
spark-sql #Comando para acessar o shell do spark sql

In [ ]:
show databases; #comando para ver os bancos disponiveis

In [ ]:
use desp; #comando para setar qual banco vai usar

In [ ]:
show tables; #vizualizando as tabelas do banco

In [ ]:
select * from despachantes; 
select nome, vendas from despachantes;

In [ ]:
select cidade, sum(vendas) from Despachantes group by cidade order by 2 desc;

In [ ]:
select reclamacoes .*, despachantes.nome from despachantes inner join reclamacoes on (despachantes.id = reclamacoes.iddesp);

In [ ]:
select reclamacoes .*, despachantes.nome from despachantes left join reclamacoes on (despachantes.id = reclamacoes.iddesp);

In [ ]:
select reclamacoes .*, despachantes.nome from despachantes right join reclamacoes on (despachantes.id = reclamacoes.iddesp);